<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zzt.tagdaily" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".FirstActivity"
            android:label="@string/app_name"
            android:theme="@style/MainTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName=".FirstActivity"
            android:theme="@style/SecondTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.zzt.tagdaily.FirstActivity" />
        </activity>
        <activity
            android:name=".TransparentTheme"
            android:label="@string/title_activity_transparent_theme"
            android:parentActivityName=".FirstActivity"
            android:theme="@android:style/Theme.Wallpaper" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.zzt.tagdaily.FirstActivity" />
        </activity>
        <activity
            android:name=".RemindDialog"
            android:label="@string/title_activity_remind_dialog"
            android:theme="@android:style/Theme.Dialog">
        </activity>
    </application>

</manifest>
